meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
link(href='/img/favicon-moon-o.ico', rel='icon', type='image/x-icon')
link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='/bower_components/components-font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
link(rel='stylesheet', href='/css/fonts.googleapis.com.css')
link#main-ace-style.ace-main-stylesheet(rel='stylesheet', href='/css/ace.min.css')
//if lte IE 9
  link.ace-main-stylesheet(rel='stylesheet', href='/css/ace-part2.min.css')
link(rel='stylesheet', href='/css/ace-skins.min.css')
link(rel='stylesheet', href='/css/ace-rtl.min.css')
//if lte IE 9
  link(rel='stylesheet', href='/css/ace-ie.min.css')
script(src='/js/ace-extra.min.js')
//if lte IE 8
  script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
  script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')