//if !IE
script(src='/js/jquery-2.1.4.min.js')
// <![endif]
//if IE
  script(src='/js/jquery-1.11.3.min.js')
script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='/bower_components/jquery-ui/jquery-ui.js')
script(src='/js/ace-elements.min.js')
script(src='/js/ace.min.js')
