extends layout
append jsfiles
  link(rel='stylesheet', href='/bower_components/bootstrap-duallistbox/dist/bootstrap-duallistbox.min.css')
append content
  include ./partials/sidebar
  .main-content
    .main-content-inner
      #breadcrumbs.breadcrumbs.ace-save-state
        ul.breadcrumb
          li
            i.ace-icon.fa.fa-home.home-icon
            |  
            a(href='/') Home
          li.active Update User
      .page-content
        .page-header
          h1
            | Update User
            small
              i.ace-icon.fa.fa-angle-double-right
              |  Update User information
        .row
          #successMessage.alert.alert-success.hidden
            button.close(type='button', data-dismiss='alert')
              i.ace-icon.fa.fa-times
            strong
              i.ace-icon.fa.fa-check
              |  Sucess!  User information was updated sucessfully.
            br
          #errorMessage.alert.alert-danger.hidden
            button.close(type='button', data-dismiss='alert')
              i.ace-icon.fa.fa-times
            strong
              i.ace-icon.fa.fa-times
              |  Oh snap! An error has occured.
            |  Change a few things up and try submitting again.
            br
          .col-xs-12
            .widget-box
              .widget-header
                h4.widget-title Update User Information
              .widget-body
                .widget-main.no-padding
                  form#validate-form.form-horizontal(action='/profile', method='post')
                    fieldset
                      .col-sm-12.nopadding
                        .form-group
                          label.col-sm-2.control-label.no-padding-right(for='email') Email
                          .col-sm-10
                            .clearfix
                              input#email(type='email', placeholder='Email',name='email', value=user.email)
                      .col-sm-12.nopadding
                        .form-group
                          label.col-sm-2.control-label.no-padding-right(for='password') Password
                          .col-sm-10
                            .clearfix
                              input#password(type='password', placeholder='Password',name='password')
                      .col-sm-12.nopadding
                        .form-group
                          label.col-sm-2.control-label.no-padding-right(for='password2') Confirmed Password
                          .col-sm-10
                            .clearfix
                              input#password2(type='password', placeholder='Password',name='password2')            
                    .form-actions.center
                      button.btn.btn-sm.btn-success(type='submit', disabled='true')
                        | Save
                        i.ace-icon.fa.fa-arrow-right.icon-on-right.bigger-110

append jsfiles
  script(type='text/javascript', src='/bower_components/jquery-validation/dist/jquery.validate.min.js')
  script(type='text/javascript', src='/js/profile.js')
  - if (error) {
    script(type='text/javascript').
      $('#errorMessage').removeClass('hidden');
  - }
  - if (saved) {
    script(type='text/javascript').
      $('#successMessage').removeClass('hidden');
  - }
